name: Continuous Integration

on:
  push:
    branches: [main]
  pull_request:

env:
  UV_VERSION: 0.9.5

jobs:
  format-and-lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@f94ec6bedd8674c4426838e6b50417d36b6ab231 # v5.3.1
        with:
          version: "${{ env.UV_VERSION }}"
          enable-cache: true
          cache-dependency-glob: uv.lock

      - name: Set up Python
        uses: actions/setup-python@v5.4.0
        with:
          python-version-file: pyproject.toml

      - name: Install dependencies
        run: |-
          uv sync --all-extras --all-groups --locked
          echo "$(pwd)/.venv/bin" >> $GITHUB_PATH

      - name: Ruff lint
        run: ruff check . --output-format=github

      - name: Ruff format
        if: ${{ !cancelled() }}
        run: ruff format . --check

      - name: Run typecheck
        if: ${{ !cancelled() }}
        run: basedpyright .

  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@f94ec6bedd8674c4426838e6b50417d36b6ab231 # v5.3.1
        with:
          version: "${{ env.UV_VERSION }}"
          enable-cache: true
          cache-dependency-glob: uv.lock

      - name: Set up Python
        uses: actions/setup-python@v5.4.0
        with:
          python-version-file: pyproject.toml

      - name: Install dependencies
        run: |-
          uv sync --all-extras --all-groups --locked
          echo "$(pwd)/.venv/bin" >> $GITHUB_PATH

      - name: Run tests
        run: |
          pytest -vv tests/
